.RelatedTopics {
    margin-top: 10rem;

    &__title {
        text-align: left;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__currentTopic {
        margin: 0 auto;
        margin-bottom: 3rem;
    }
}
